@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body{
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.active{
  color: #c80000;
}

h1{
  font-family: 'Lato';
  font-weight: 300;
}
.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
}

.logo{
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#nav{
  display : flex;
  align-items : center;
  list-style: none;
}
#nav li{
  display: inline-block;
}
#menu{
  font-weight: 600;
  text-transform: uppercase;
}
#menu li a:hover{
  color:#c80000;
}
ul{
  margin-top: 0px;
  margin-bottom: 0px;
}
.banner:nth-child(even){
  background-color: #eeeeee;
}
#banner-one{
  background-image: url('../images/house.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* z-index: 100; */
  display: inline-flex;
  align-items: center;
  background-attachment: fixed;
}
#banner-two{
  height: 100vh;
  padding-top: 15vh;
  text-align: center;
}
#banner-one p{
  color: white;
  /* position:relative; */
  /* top: 35vh; */
}
.why-us-header{
  color: red;
  font-weight: 600;
  margin-top: 40px;
}
.service-header{
  margin-top: 20px;
}
#bank-partners, .success-story{
  display: flex;
  align-items: center;
  justify-content:center;
}

#not-sure{
  height: 600px;
  background-image: url('../images/call.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}
.bank-logo{
  max-width: 100%;
  /* height: 100px; */
  min-height:40px;
  max-height: 50px;
  margin: 0px 30px;
}
#side-image{
  background: url("../images/laptop-girl.jpg") 50% 50% no-repeat;
  background-size: cover;
  width: 400px;
  height: 400px;

}
#side-career-image{
  background: url('../images/career.jpg') 50% 50% no-repeat;
  background-size: cover;
  /* width: 500px; */
  height: 400px;
}
.banner-title-white{
  color: white;
  font-size: 60px;
}

.service-icons{
  fill: red;
  width: 80px;
  color: red;
}
.profile-picture{
  width: 200px;
  height: 200px;
  border: 5px solid #eee;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}
.about-title-white{
  color: white;
  z-index: 1;
  text-align: center;
  width: 100%;
}
.role{
  font-weight: 300;
  font-style: italic;
  /* font-size: 12px; */
}
.banner-title-black{
  font-family: 'Lato', cursive;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
  /* font-weight: 600; */
}
.banner{
  padding-top: 50px;
  padding-bottom: 50px;
}
p{
  text-align: justify;
}

#tell-me-more-button:hover{
  background-color: white;
  border: 1px solid white;
  color: black;
}
.vertical-padding{
  padding-top: 100px;
  text-align: center;
}
.padding{
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 50px;
}
#footer{
  background-color: #333;
  color: #ccc;
  text-align: center;
  padding: 15px;
  font-weight: 300;
}
#footer ul{
  position: static;
  margin: 20px 0px;
  font-size: 14px;
}
#footer li{
  display: block;
  float: none;
  text-align: left;
  padding: 5px 0px;
}
#footer li a{
  display: block;
  float: none;
  text-align: left;
  padding: 5px 0px;
  color: #ccc;
  font-size: 14px;
  /* margin: 0; */
  height: 100%;
  /* text-align: center; */
  line-height: 14px;
  text-decoration: none;
}
li.footer-header{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: white;
}
.brand-name{
  font-size: 40px;
}
a{
  font-size:16px;
  vertical-align: middle;
  color: black;
  padding-right: 10px;
}
a:hover{
  text-decoration: none;
}
.btn{
  background-repeat: none;
  background-image: none;
}
.loan-container{
  padding: 30px;
}
#loan-form{
  /* width: 50%; */
  /* background-color: rgba(0,0,0,0.3); */
  border-radius: 20px;
  padding: 20px;
  /* color: white; */
  /* margin: 15px; */
}
#summary{
  /* position: fixed;
  width: 400px;
  top: 20vh; */
  /* right: 5vh; */
  padding: 50px;
  background-color: #eee;
}
#pie{
  margin: auto auto;
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 300px;
  background-color: rgb(255, 123, 101);
}
#pie-inner{
  position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 300px, 300px, 100px); transform: rotate(0deg);
}
#pie-inner div{
background-color: rgb(255, 159, 145); position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 150px, 300px, 0px); transform: rotate(180deg);
}
#pie-inner-2{
  position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 300px, 300px, 150px); transform: rotate(180deg);
}
#pie-inner-2 div{
  background-color: rgb(255, 159, 145); position: absolute; top: 0px; left: 0px; width: 300px; height: 300px; border-radius: 300px; clip: rect(0px, 150px, 300px, 0px); transform: rotate(180deg);
}
#loan-block, #free-block{
  width: 30px;
  height: 30px;
  margin: 10px;
}
#loan-block{
  background-color: #c80000;
}
#free-block{
  background-color: #F2A395;
}
.chart-description{
  display: flex;
  align-items: center;
}
.monthly-amount{
  color:red;
  font-size: 40px;

  /* font-weight: 600; */
}

.header-row{
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  background-color: white;
  z-index: 100;
  left: 0;
  top: 0;
}

.form-section-title{
  /* font-weight: 600; */
  font-size: 18px;
  /* color: rgb(212, 212, 212); */
}
.form-row{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  padding-top: 20px;
}

.input-group-text{
  background-color: rgba(0,0,0,0);
  color: #aaa;
  border: none;
}
input.form-control{
  border: 0px;
  border-bottom: solid 1px #ccc;
}
input.form-control:focus{
  border: 0px;
  border-bottom: solid 1px #c80000;
  box-shadow: none;
}
.steps{
  text-align: right;
  color: red;
  font-weight: 600;
}
#submit-calculator{
  margin: 15px auto;
}
#map{
  width: 100%;
  height: 500px;
  /* margin-top: 70px; */
}



.contact-form{
  margin: 20px auto;
  border: 1px solid #eee;
  padding: 20px;
}
.contact-form input, .contact-form textarea{
  border: 0px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  border-radius: 0;
}
.contact-form input::placeholder, .contact-form textarea::placeholder{
  color: #ddd;
}
.contact-form input:focus, .contact-form textarea:focus{
  box-shadow: none;
  border-bottom: 1px solid #c80000;
}
.contact-form input:active, .contact-form textarea:active{
  border: 0px;
  border-bottom: 1px solid #c80000;
}
.contact-us{
  margin: 40px auto;
  font-family: 'Lato';
  text-align: center;
  font-weight: 300;
}
#submit-contact{
  width: 100%;
}
/* .list-group{
  width: 100%;
} */
.highlight{
  color: red;
}
.faq-list{
  padding: 30px;
}
#about-banner{
  background-image: url('../images/about.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
}
#about-banner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: 570px;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  opacity: 0.7;
}
.principle-icon{
  display: block;
  height: 60px;
  margin: 20px auto;

}
.principle-cards{
  text-align: center;
  /* margin: auto auto; */
  padding: 15px;
}
 @media only screen
  and (max-width: 480px){
    body{
      padding-top: 50px;
    }
    #nav{
      display: block;
    }
    .logo{
      height: 30px;
    }
    #banner-one{
      background-image: url('../images/house.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      display: inline-flex;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
      background-attachment: scroll;

    }
    #not-sure{
      height: 400px;
      align-items: flex-start;
      background-position: center top;
    }
    #side-image{
      background: url("../images/laptop-girl.jpg") 50% 50% no-repeat;
      background-size: cover;
      width: 300px;
      height: 300px;
      margin: 20px auto;
    }
    .row{
      margin-right: 0px;
      margin-left: 0px;
    }
    .banner-title-white{
      font-family: 'Lato', cursive;
      color: white;
      font-size: 40px;
      font-weight: 300;
    }
    .why-us-card{
      text-align: center;
    }
    .vertical-padding{
      padding-top: 50px;
    }
    #bank-partners{
      display: block;
    }
    .bank-logo{
      display: block;
      margin: 20px auto;
      max-width: 150px;
      min-height:30px;
      max-height: 40px;
    }
    .profile-picture{
      display: block;
      margin: 5px auto;
    }
    #loan-form{
      width: 100%;
      /* background-color: rgba(0,0,0,0.3); */
      border-radius: 20px;
      padding: 20px;
      /* color: white; */
      /* margin: 15px; */
    }
    #about-banner{
      height: 300px;
    }
    #about-banner:after{
      height: 350px;
    }
    #pie, #pie-inner, #pie-inner div, #pie-inner-2, #pie-inner-2 div{
      width: 150px;
      height: 150px;
      border-radius: 150px;
    }
    #pie-inner{
      clip: rect(0px, 150px, 150px, 50px);
    }
    #pie-inner div{
    clip: rect(0px, 50px, 150px, 0px);
    }
    #pie-inner-2{
     clip: rect(0px, 150px, 150px, 50px);
    }
    #pie-inner-2 div{
      clip: rect(0px, 150px, 150px, 0px);
    }
    #loan-block, #free-block{
      width: 10px;
      height: 10px;
    }


}
