@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#logo{
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#nav{
  display : flex;
  align-items : center;
  list-style: none;
}
#nav li{
  display: inline-block;
}
ul{
  margin-top: 0px;
  margin-bottom: 0px;
}
.banner:nth-child(odd){
  background-color: #eeeeee;
}
#banner-one{
  background-image: url('../images/couple-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#banner-two{
  height: 100vh;
  padding-top: 15vh;
  text-align: center;
}
#banner-one p{
  text-align: center;
  position: relative;
  top: 35vh;
  color: white;
  font-size: 16px;
}
.banner-title-white{
  font-family: 'Montserrat', cursive;
  color: white;
  font-size: 10vh;
  text-align: center;
  /* width: 100%; */
  position: relative;
  top: 35vh;
}
.banner-title-black{
  font-family: 'Montserrat', cursive;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
}
.banner{
  padding-top: 50px;
  padding-bottom: 50px;
}
p{
  padding: 15px;
  text-align: justify;
}
.vertical-padding{
  padding-top: 100px;
  text-align: center;
}
.padding{
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 50px;
}
#footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}

.brand-name{
  font-size: 40px;
}
a{
  font-size:16px;
  vertical-align: middle;
  color: black;
  padding-right: 10px;
}
a:hover{
  text-decoration: none;
}
.btn{
  background-repeat: none;
  background-image: none;
}
.loan-container{
  /* height: 90vh; */
  padding-top: 100px;
}
.header-row{
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: fixed;
  background-color: white;
  z-index: 100;
  left: 0;
  top: 0;
}
.banner-title{
  font-weight: 600;
}
.form-section-title{
  font-weight: 800;
  font-size: 18px;
}
.form-row{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  padding-top: 20px;
}
.input-group.mb-3{
  width:50%;
}
@media only screen
  and (max-width: 480px){


}
