

/*Strip the ul of padding and list styling*/
.header-row ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
.header-row li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
.header-row li a {
    display:block;
    /* min-width:140px; */
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin: 0px 10px;
}


/*Hide dropdown links until they are needed*/
.header-row li ul {
    display: none;
}
/*Make dropdown links vertical*/
.header-row li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
.header-row li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
.header-row ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    text-decoration: none;
    text-align: right;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
.header-row input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
.header-row input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    #menu{
      /* display: block; */
      background-color: white;
      color: black;
      position: absolute;
      /* width: 400px; */
      /* height: 200px; */
      left: 0;
      z-index: 100;
      text-align: right;
    }
    /*Make dropdown links appear inline*/
    .header-row ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    .header-row li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    .header-row ul li, .header-row li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
        z-index: 5000;
    }

    #footer ul{
      position: static;
      display: block;
    }
}
